@()

  @main("Claire's Piano Lessons") {
  <section class="cards">
    <ul>
      <li>
        <figure>
          <img class="body-image" alt="About Claire" src="/images/about.jpg"/>
          <figcaption>
            <h3>About Claire</h3>
          </figcaption>
        </figure>
        <p class="body-text">
          Claire was born and raised in the Valleys in South Wales. She started playing the piano at age four, and it was then she began her classical studies. After varied musical experiences as a child, she decided music would be her full-time job. Claire earned her Music degree with honours from The Royal Holloway, University of London where she specialised in the piano under James Kirby. Committed to sharing her love for music with young people, Claire returned to university to complete her PGCE in Secondary Education for Music.
        </p>
        <p class="body-text">
          Claire then had a successful 12 year career as a secondary school Head of Music in two London Schools. Following a move to Tewkesbury in 2022, she has decided to pursue her lifelong dream of running her own music business from home in the form of piano tuition.
        </p>

      </li>
      <li>
        <figure>
          <img class="body-image" alt="Why Claire" src="/images/why-claire.jpg"/>
          <figcaption>
            <h3>Why choose Claire?</h3>
          </figcaption>
        </figure>
        <p class="body-text">
          Claire has vast performance and teaching experience and is committed to providing inclusive, engaging and progressive learning for all of her students. She is located in the heart of Walton Cardiff, Tewkesbury and looks forward to welcoming you to her home. She is a registered member of the Independent Society of Musicians and has undertaken an enhanced DBS that is available for viewing on request. Claire is committed to safeguarding and promoting the welfare of children. Sign up for <a class="body-link" href="/api/calendar">your free 30-minute trial lesson</a> today!
        </p>
      </li>
      <li>
        <figure>
          <img class="body-image" alt="Where will we learn" src="/images/where-learn.jpg"/>
          <figcaption>
            <h3>Where will we learn?</h3>
          </figcaption>
        </figure>
        <p class="body-text">
          Most lessons will take place at Claire's home in Walton Cardiff. You will receive the full address once you sign up for your free trial lesson. However, Claire is able to travel to students who live locally if they prefer to have lessons in their own home and she can also offer lessons online. If you would like to enquire about online piano lessons, please reach out on the contact page.
        </p>
      </li>
      <li>
        <figure>
          <img class="body-image" alt="What will we learn" src="/images/what-learn.jpg"/>
          <figcaption>
            <h3>What will we learn?</h3>
          </figcaption>
        </figure>
        <p class="body-text">
          For beginners, Claire enjoys teaching the Pauline Hall method of learning. After the beginning stages, there are several pathways we could take. Would you like to learn classical styles? If so, we will follow the ABRSM syllabus. Perhaps you would prefer to be a Jazz pianist? Or maybe you like modern Rock and Pop? If so, we would follow the Rock School syllabus. You may choose to work towards piano graded examinations – this is quite an achievement and counts towards UQAS points if you are a student. Some people prefer not to follow a set syllabus at all and prefer to play for the joy of playing. Whatever takes your fancy, let’s explore your musical journey together!
        </p>
      </li>
    </ul>
  </section>
  }
