@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String, includeStripeJs: Boolean = false)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="/stylesheets/main.css">
    <link rel="stylesheet" media="screen" href="/stylesheets/spinner.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville&family=Satisfy&display=swap" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://webapp.clairepalmerpiano.co.uk/assets/javascripts/64bd16513ce7bfeeac84483b7639dbd9-payment.js"></script>
  </head>
  <body class="main-body">
    <nav class="row-nav">
      <ul class="nav-list">
        <li class="nav-list-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-list-item"><a class="nav-link" href="/api/calendar">Book Lesson</a></li>
        <li class="nav-list-item"><a class="nav-link" href="/why-piano">Why Piano?</a></li>
        <li class="nav-list-item"><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-list-item"><a class="nav-link" href="/policies">Business Policies</a></li>
      </ul>

      <div class="title">
        <div>
          <h1 class="title-text">Claire Palmer Piano Lessons</h1>
          <h2 class="title-text title-text-tagline">Bespoke instrumental lessons for all</h2>
        </div>
        <img class="logo-image" src="/images/logo.png">
      </div>
    </nav>
    <main>
    @content
    </main>
    <div class="footer">
     <img class="ism-logo" src="/images/ism_logo.svg"  alt="ISM Logo"/>
    </div>
  </body>
</html>
