@()
@main("Business Policies") {
    <div class="policy-text">
        <h1>Business Policies</h1>
        <section>
            <h2>Fees</h2>
            <p class="body-text wrapped">Fees are to be paid before the day of lessons</p>
            <p class="body-text wrapped">Places are not guaranteed until fees are received.</p>
        </section>

        <section>
            <h2>Attendance and Missed Lessons</h2>
            <p class="body-text wrapped">
                Lessons are scheduled on a weekly basis. Breaks between sessions or blocks are not permitted.
        <p class="body-text wrapped">
            The Teacher will charge for any scheduled lessons which the Pupil does not attend unless the Teacher chooses not to do so because of exceptional circumstances. If the Teacher cancels a scheduled lesson, the Pupil (or the Pupil’s parent or carer) may choose between (i) carrying the lesson forward; (ii) receiving a replacement lesson; or (iii) receiving a refund of the lesson fee.</p>
            <p class="body-text wrapped">
                In the event of student illness, the teacher will offer an alternative day where possible. If this is not suitable, the teacher will create a video, so the student does not miss learning time.</p>
        </section>

        <section>
            <h2>Lateness</h2>
            <p class="body-text wrapped">
                Lessons will finish at the agreed time regardless of arrival time. Please be prompt on arrival.</p>
        </section>

        <section>
            <h2>Holidays</h2>
            <p class="body-text wrapped">Students are permitted to take 5 lessons worth of holidays per year. Blocks of lessons will be extended to take into account student holidays.</p>
            <p class="body-text wrapped">Students who require more than the allowed 5 holidays, will be required to pay for the lesson as usual.</p>
        </section>

        <section>
            <h2>Termination of Tuition</h2>
            <ol type="a">
                <li>
                    <p class="body-text wrapped">This Agreement may be ended by mutual consent at any time by both signatories to it signing and dating a written statement to that effect.</p>
                </li>
                <li><p class="body-text wrapped">Where fees are not paid on time, the Teacher reserves the right, entirely at the Teacher’s discretion, to terminate this Agreement with immediate effect by giving written notice of termination to the Pupil or Pupil’s parent or carer. This right to terminate is without prejudice to any other rights the Teacher may have.</p></li>
                <li><p class="body-text wrapped">Either signatory to this Agreement may terminate the Agreement by giving notice in writing to the other signatory at least one month before the end of a Series for the termination to take effect at the end of that Series. Such termination will take effect at the end of a Series only and not at any other time. If the Teacher gives notice to terminate tuition at the end of a Series in accordance with this Condition 6(c) the Teacher will continue to provide lessons until the end of that Series.</p></li>
            </ol>
        </section>
        <section>
            <h2>Failure to give notice</h2>

            <p class="body-text wrapped">Unless terminated as above, this Agreement shall continue from Series to Series. If the Pupil (or the Pupil’s parent or carer) fails to give full notice to terminate this Agreement in accordance as above and the signatories have not agreed to terminate the Agreement as above, the following charges will be made in lieu of notice:</p>
            <ol type="a">
                <li><p class="body-text wrapped">Where the notice given is less than that required, but is one month or more before the start date of the next Series: 50% of the fees for the next Series.</p></li>
                <li><p class="body-text wrapped">Where the notice given is less than one month before the start of the next Series: 100% of the fees for the next Series.</p></li>
            </ol>
            <p class="body-text wrapped">
                If the Pupil stops attending lessons while a Series is ongoing, the Pupil (or the Pupil’s parent or carer) is not entitled to a refund of any fees paid for that Series. The Pupil is entitled to attend any lessons paid for.
            </p>
            <p class="body-text wrapped">
                If the Teacher stops lessons without giving the correct notice specified, the Teacher shall refund any fees already paid for any lessons not given.
            </p>







        </section>
    </div>
}
