@(date: String, availableSlots: List[String])
@main("Choose a time") {
  <ul class="page-template">
    <li>
      <h1>Choose a time for your lessons</h1>
      <h2>If you would like to rearrange any lessons, contact us.</h2>
    </li>
    @if(availableSlots.nonEmpty) {
      <li>
        <section class="cards time">
          <ul class="time">
          @for(slot <- availableSlots) {
            <li class="time-card"><a class="time-link" href="/api/booking-contact/@date/@slot">@slot</a></li>
          }
          </ul>
        </section>
      </li>
    } else {
      <li>
        <h1>There are no times available for this date.</h1>
        <h2>Please choose <a href="/api/calendar?month=@(Option(date.split("-").head.toInt))&year=@(Option(date.split("-")(2).toInt))">another date</a></h2>
      </li>
    }
  </ul>
}
