@()
@main("Why choose piano?") {
  <div class="why-page">
    <div>
      <h2>Why choose Piano?</h2>

      <h3>Improve the Body</h3>
      <p class="body-text">
        Regular piano playing sharpens fine motor skills and improved hand-eye coordination in the young and developing. For older adults, it has a significant impact on increased levels of Human Growth Hormone, which slows down the adverse effects of aging. Bringing music into your life is also proven to reduce anxiety, heart and respiratory rates, cardiac complications, and to lower blood pressure and increase immune response.
      </p>
      <h3>Sharpen the Intellect</h3>
      <p class="body-text">
        Practicing the piano boosts cognitive and intellectual abilities. It can help to improve memory – particularly verbal memory – and build good habits like focus, perseverance, diligence, and creativity.
        <br>
        Children who had a few years of piano study under their belts could remember twenty percent more vocabulary words than their peers.
      </p>
      <p class="quote-text">
        Children who had a few years of piano study under their belts could remember twenty percent more vocabulary words than their peers.
        <sub class="sub-text">Source: Steinway & Sons</sub>
      </p>
      <h3>Calm the Mind</h3>
      <p class="body-text">
        Studies show that time spent at the piano improved mental health: people who make music experience less anxiety, loneliness, and depression. Playing piano has also been shown to be a great source of stress relief and provides ample opportunities to bolster self-esteem. It is also a widely used form of therapy for ADHD.
      </p>
      <h3>It’s fun!</h3>
      <p class="body-text">
        Learning the piano is fun. You will be exposed to a plethora of wonderful music from many different cultures, times and places. Book today for <a class="body-link" href="/api/calendar/1/0">your free 30-minute piano lesson</a> with Claire!
      </p>
    </div>
  </div>



}
